<div class="container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="form">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="registerForm.get('email')!.hasError('required')">
        Please enter an email.
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')!.hasError('email')">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="registerForm.get('password')!.hasError('required')">
        Please enter a password.
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')!.hasError('minlength')">
        Password must be at least {{passwordMinLen}} characters long.
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')!.hasError('maxlength')">
        Password cannot exceed {{passwordMaxLen}} characters.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
  <p *ngIf="error" class="error-message">{{ error }}</p>
  <a routerLink="/login">Already registered? Login</a>
</div>
